.border-bottom::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background: linear-gradient(
    to right,
    #b05bdb,
    #80ffdb,
    #ffffff,
    #ffffff,
    #80ffdb,
    #b05bdb
  );
}
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}


.sidenav-link::before{
content:"";
position:absolute;
height:0%;
width:2px;
background-color: #80FFDB;
top:50%;
right:-5px;
transform:translateY(-50%);
transition:.3s linear;
transform-origin: top;
}
.sidenav-link:hover:before{
  height:40%
}
.active-link::before{
content:"";
position:absolute;
height:40%;
width:2px;
background-color: #80FFDB;
top:50%;
right:-5px;
}